# Unreal Engine generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user

# Rider
.idea/

# OS
Thumbs.db
.DS_Store

# Logs / temp
*.log
*.tmp

# Do not ignore project source/content/config
!Config/
!Content/
!Source/
